<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <center>
    <form method="post">
        <h1>ADD POST</h1>
    <table border="1">
        <tr>
        <th><label for="">title</label></th>
        <td><input type="text" name="title"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">content</label></th>
        <td><textarea id="content" name="content" rows="4" cols="50"></textarea></td>
        <br>
        </tr>
        <tr>
        <th><label for="">slug</label></th>
        <td><input type="text" name="slug"></td>
        <br>
        </tr>
    </table>
    <br>
        <button>ADD</button>
    </form>
    </center>
</body>
</html>