<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
</head>
<body>
    <center>
        <marquee><mark><h1>Login</h1></mark></marquee>
        <form method="POST">
            <table border=3>
            <tr><th><label for="">username: </label></th>   
            <td><input type="text" name="username"></td>
            <br>
            </tr>
            <br>
            <tr><th><label for="">password: </label></th> 
            <td><input type="password" name="password"></td>
            </tr>
            </table>
            
            <button >submit</button>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      >"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    >"
        </form>
    </center>
    
</body>
</html>