<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <center>
        <marquee><mark><h1>Registration</h1></mark></marquee>
        <form method="post">
        <table border="2">
        <tr><th><label for="">username:</label></th>
        <td><input type="text" name="username"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">mobile:</label></th>
        <td><input type="text" name="mobile"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">email:</label></th>
        <td><input type="email" name="email"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">address:</label></th>
        <td><input type="te" name="address"></td>
        <br>
        </tr>
        <tr>
        <th><label for="">password:</label></th>
        <td><input type="password" name="password"></td>
        <br>
        </tr>
        </table>
        <button>submit</button>
    </form></center>
    
</body>
</html>